
// colors
$--color-primary: #409EFF !default;
$--color-text-placeholder: #c0c4cc !default;
$--color-text-regular: #606266 !default;
$--color-text-primary: #303133 !default;
$--color-info: #909399 !default;
//border
$--border-base-color: #dcdfe6 !default;
// background
$--background-color-base: #f5f7fa !default;
// Tag
$--tag-default-color: $--color-primary !default;
$--tag-default-border: rgba(64,158,255,.2) !default;
$--tag-default-bg: rgba(64,158,255,.1) !default;

$--tag-success-color: #67c23a !default;
$--tag-success-border: rgba(103,194,58,.2) !default;
$--tag-success-bg: rgba(103,194,58,.1) !default;

$--tag-info-color: #909399 !default;
$--tag-info-border: hsla(220,4%,58%,.2) !default;
$--tag-info-bg: hsla(220,4%,58%,.1) !default;

$--tag-warning-color: #e6a23c !default;
$--tag-warning-border: rgba(230,162,60,.2) !default;
$--tag-warning-bg: rgba(230,162,60,.1) !default;

$--tag-error-color: #f56c6c !default;
$--tag-error-border: hsla(0,87%,69%,.2) !default;
$--tag-error-bg: hsla(0,87%,69%,.1) !default;

// Alert

$--alert-default-bg: #f4f5f7 !default;
$--alert-default-color: #999 !default;

$--alert-success-bg: #f0f9eb !default;
$--alert-success-color: #67c23a !default;

$--alert-warning-bg: #fdf6ec !default;
$--alert-warning-color: #e6a23c !default;

$--alert-error-bg: #fef0f0 !default;
$--alert-error-color: #f56c6c !default;

// Input

$--input-color: #606266 !default;
$--input-fill: #fff !default;
$--input-border-color: #dcdfe6 !default;
$--input-placeholder-color: #c0c4cc !default;
$--input-hover-border: #c0c4cc !default;
$--input-focus-border: $--color-primary !default;
$--input-disabled-fill: #f5f7fa !default;
$--input-disabled-border: #e4e7ed !default;
$--input-disabled-color: #c0c4cc !default;
$--input-disabled-placeholder-color: #c0c4cc !default;
$--input-icon-color: #c0c4cc !default;
$--input-clear-hover-color: #909399 !default;
