/**
 * 字体图标
 */
 @font-face {
    font-family: 'feather';
    src: url('../fonts/feather.eot?t=1501829003743');
    src: url('../fonts/feather.eot?t=1501829003743#iefix') format('embedded-opentype'),
        url('../fonts/feather.ttf?t=1501829003743') format('truetype'),
        url('../fonts/feather.woff?t=1501829003743') format('woff'),
        url('../fonts/feather.svg?t=1501829003743#feather') format('svg');
    font-weight: normal;
    font-size: normal;
  }
  
 [class^="w-icon-"], [class*="w-icon-"] {
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .w-icon-close:before { content: "\e8f6"; }

  .w-icon-arrow-right:before { content: "\e844"; }
  