// Tag

$--tag-default--height: 32px;
$--tag-medium--height: 28px;
$--tag-small--height: 24px;
$--tag-mini--height: 20px;
$--tag-default--padding: 0 10px;
$--tag-medium--padding: 0 8px;
$--tag-small--padding: 0 6px;
$--tag-mini--padding: 0 4px;
$--tag-font: 12px;

// Alert

$--alert-padding: 8px 16px !default;
$--alert-font: 14px !default;
$--alert-border-radius: 4px !default;
$--alert-title-font-size: 14 !default;
$--alert-content-padding: 0 8px !default;